body{
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.6;
}
a{
    text-decoration:solid;
    color: #ccc;
}
#showcase{
    margin: 0;
    padding: 0;
    background: url(Background.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;  /*viewport-height*/
    position: relative;
    overflow: hidden;
}
#showcase .container{
    margin-top: 25vh;
}
#showcase h1{
    font-size: 4rem; /*root-element font size*/
    margin-bottom: 0;
}
#showcase h2{
    font-size: 2rem; /*root-element font size*/
}
nav{                                           /*for navigation bar*/
    height: 50px;
    width: 100%;
    background-color: #333;
    color: rgb(51, 34, 34);
    position: fixed;

}
nav ul{                                       /*for navigation items*/
    margin: 0;
    padding: 0;
}
nav li{                                       /*for navigation items*/
    display: inline;
    float: left;
}
nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
}
nav li:hover{
    background-color: #444;
}
.container{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}
.lead{
    font-size: 1.4rem;
}
footer .footer-cols{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}
footer .footer-cols ul{
    list-style: none;
}
footer .footer-cols ul li:first-child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
}
footer .footer-bottom{
    background-color: #333;
    padding: 1rem;
    text-align: center;
}
.section{
    padding: 2rem 0;
}
.section-head{
    font-size: 2.5rem;
    margin: 0;
}
.section h3{
    font-size: 2rem;
}
.section img{
    border-radius: 6%;                   /*to give rounded corner to the images*/
}
:root{
    --primary-color: #b90415;
    --primary-color-hover: #d3071b;
    --secondary-color: #103063;
    --secondary-color-hover: #143f85;
    --light-color: #f4f4f4;
}
.btn{
    padding: 1rem;
    color: #fff;
    border-radius: 5px;               /*to give rounded corner to the buttons*/
    display: inline-block;
}
/*.rounded-corners {          
    border-radius: 5px;
}*/
.btn-primary{
    background: var(--primary-color);
}
.btn-primary:hover{
    background: var(--primary-color-hover);
}
.btn-secondary{
    background: var(--secondary-color);
}
.btn-secondary:hover{
    background: var(--secondary-color-hover);
}
.text-light{
    color: var(--light-color);
}
.mb{
    margin-bottom: 1rem;
}
.mt{
    margin-bottom: 1rem;
}

/*-----------------------------------------------------------Indoor CSS*-------------------------------------------------------------*/

.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 100px;
    padding-right: 100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.col-4{
    flex-basis: 25%;
    padding: 1rem;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    height: 250px;
}
.row-2 h2{
    font-size: 30px;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 50px;
}
/*select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}*/
.page-btn span{
    display: inline-block;
    border: 1px solid #fb5e16;
    margin-left: 25px;
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #ffffff;
}*/
h4{
    color: #fff;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;

}
.checked{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-50px);
}